* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 40px 10%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid yellow;
}

.App p{
  font-size: 34px;
  margin-bottom: 18px;
}

.App button{
  transition: 0.5s;
  font-weight: bold;
  padding: 10px 50px;
  background-color: white;
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 2px 2px 0px 1px #888;
}
.App button:hover{
  color: rgb(15, 137, 33);
  box-shadow: 2px 2px 2px 1px rgb(5, 205, 35);
}